<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fas fa-bolt"></i> FlashCart.com</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">
                        <i class="fas fa-dove"></i> Home
                    </a>
                </li>
                <li>
                    <a href="/shopping-cart/">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                        <span class="badge">{{session.cart.totalQty}}</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{# if login }}
                        <li><a class="links" href="/user/profile"><i class="fas fa-user-secret"></i> User Account</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="links" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        {{ else }}
                        <li><a class="links" href="/user/signin"><i class="fas fa-fingerprint"></i> Sign in</a></li>
                        <li><a class="links" href="/user/signup"><i class="fas fa-user-plus"></i> Sign up</a></li>
                        {{/if}}

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>