<div style="margin-bottom: 150px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>User Profile</h1>
            <hr>
            <h2>My Orders</h2>
            {{# each orders }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        {{# each this.items }}
                        <li class="list-group-item">
                            <span class="badge"><i class="fas fa-rupee-sign"></i> {{ this.price }}</span>
                            {{ this.item.title }} || {{ this.qty }} Units
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total Price: <i class="fas fa-rupee-sign"></i> {{ this.cart.totalPrice }}</strong>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>